@import "tailwindcss";

/* Define global font tokens */
@theme {
  --font-heading: sans-serif,"Playfair Display";
  --font-body:sans-serif,"Times New Roman";
}

/* Apply globally */
body {
  font-family: var(--font-body);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-heading);
}
